.App {
  background-color: rgb(46, 45, 45);
  text-align: center;
  width: 100wh;
  height: 100vh;
}

.btn {
  padding: 10px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(183, 10, 10);
  cursor: pointer;
}
.btn:hover{
  color: red;
}